{% extends 'base.html.twig' %}

{% block title %}Contact!{% endblock %}

{% block body %}


    <div class="shadow p-3 mb-5 bg-white rounded mt-4">
        <h1>Contactez-nous</h1>
        <div class="mt-3 mb-0">
            {% for rubrique, messages in app.flashes %}
                <div class="alert alert-{{rubrique}}">
                    {% for message in messages %}
                        <p class="text-center mb-0">{{message}}</p>
                    {% endfor %}
                </div>
            {% endfor %}        
        </div>
        {{form_start(form)}}
            {{form_widget(form)}}
            <button type="submit" class="btn btn-primary">Envoyer</button>
        {{form_end(form)}}
    </div>

{% endblock %}
